.wrapper{
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-areas:
  "nav"
  "about"
  "experience"
  "skills"
  "projects"
  "form "
  "form"
  "messages"
  "footer";
  grid-gap: 5px;
}

.about{
  grid-area: about;
}
.nav{
  grid-area: nav;
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #5F9EA0;
}
.experience{
  grid-area: experience;
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.experience div{
  margin: 0.8rem;
}
.experience div:first-child{
  margin: 0;
}
.experience h1{
  margin-bottom: 0.5rem;
}

.skills{
  grid-area: skills;
}
/* Line added for lesson 6.1 */
#projects{
  grid-area: projects;
}

.form{
  grid-area: form;
}

.messages{
  grid-area: messages;
}

footer{
  grid-area: footer;
}

.nav a{
  text-decoration: none;
  font-size: 0.75rem;
  color: white;
  margin-top: 0.2rem;
}

form{
  display: flex;
  flex-direction: column;
  width: 60%
}
form button{
  margin-top: 0.5rem;
  max-width: 50%;
}

footer{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  background-color: #5F9EA0;
  color: white;
}

@media screen and (min-width: 760px) {

 .nav{
   position: fixed;
   top: 0;
   flex-direction: row;
   justify-content: space-between;
   padding: 0.5rem;
 }
 .nav a{
   font-size: 1rem;
 }

 .about{
   margin-top: 2.5rem;
 }
form{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(auto-fit, 1fr);
   grid-gap: 10px;
 }
 .item-name{
   grid-column: 1/2;
   grid-row: 1/2;
 }

 .item-email{
   grid-column: 2/3;
   grid-row: 1/2;
 }
 .item-message{
   grid-column: 1/2;
   grid-row: 2/3;
 }
 .item-button{
   grid-column: 1/2;
   grid-row: 3/4;
 }

.labelMessage{
    padding-top: 1rem;
 }

 form button{
   margin-top: 0.1rem;
   margin-bottom: 1rem;
   margin-left: 0.5rem;
   width: 50%;
 }
 form[name="leave_message"] textarea, #messages ul li span, #messages ul li a, #messages ul li input{
   font-size: 1.2rem;
 }
 .img-size{
   width: 1.75rem;
   height: 1.75rem;
 }

 .nav{
   width: 98.5vw;
 }
 footer{
   width: 98.5vw;
 }

}/* End Media Query for Tablets */

@media screen and (min-width: 900px) {
  .nav{
      width: 75.5vw;
  }
  footer{
    width: 75.5vw;
  }
}
